#jinja2: trim_blocks: "true", lstrip_blocks: "false"
gcrKeyPath: "{{ gcp_keys_dir }}/{{ anthos_container_registry_service_account }}.json"
sshPrivateKeyPath: "{{ ansible_user_dir }}/.ssh/id_rsa"
gkeConnectAgentServiceAccountKeyPath: "{{ gcp_keys_dir }}/{{ anthos_connect_agent_service_account }}.json"
gkeConnectRegisterServiceAccountKeyPath: "{{ gcp_keys_dir }}/{{ anthos_connect_register_service_account }}.json"
cloudOperationsServiceAccountKeyPath: "{{ gcp_keys_dir }}/{{ anthos_logging_monitoring_service_account }}.json"
---
apiVersion: v1
kind: Namespace
metadata:
  name: cluster-{{ cluster_name }}
---
apiVersion: baremetal.cluster.gke.io/v1
kind: Cluster
metadata:
  name: {{ cluster_name }}
  namespace: cluster-{{ cluster_name }}
spec:
  type: {{ cluster_type }}
  anthosBareMetalVersion: {{ bmctl_version }}
  gkeConnect:
    projectID: {{ gcp_project_id }}
  controlPlane:
    nodePoolSpec:
      nodes:
        - address: {{ box2_private_address }}
  clusterNetwork:
    multipleNetworkInterfaces: false
    pods:
      cidrBlocks:
        - 172.16.0.0/16
    services:
      cidrBlocks:
        - 10.96.0.0/20
  loadBalancer:
    mode: bundled
    ports:
      controlPlaneLBPort: 443
    vips:
      controlPlaneVIP: {{ control_plane_vip }}
      ingressVIP: {{ ingress_vip }}
    addressPools:
      - name: lb-address-pool-1
        addresses:
          - {{ loadbalancer_address_pool }}
  storage:
    lvpNodeMounts:
      path: /mnt/localpv-disk
      storageClassName: local-disks
    lvpShare:
      path: /mnt/localpv-share
      storageClassName: local-shared
      numPVUnderSharedPath: 5
  nodeConfig:
    podDensity:
      maxPodsPerNode: 100
    containerRuntime: {{ container_runtime }}
  clusterOperations:
    projectID: {{ gcp_project_id }}
    location: {{ cluster_location }}
    enableApplication: true
  nodeAccess:
    loginUser: '{{ login_user }}'
---
apiVersion: baremetal.cluster.gke.io/v1
kind: NodePool
metadata:
  name: default-pool
  namespace: cluster-{{ cluster_name }}
spec:
  clusterName: {{ cluster_name }}
  nodes:
    - address: {{ box3_private_address }}